@using ShopCar.Model;
@model IEnumerable<ItemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@if (Model.Count() == 0)
{
    <div style="height:500px">
        <h2 style="color:red;">Giỏ hàng của bạn không có sản phẩm nào!</h2>
    </div>
}
else
{
    <div class="cart_page_bg">
        <div class="container">
            <div class="shopping_cart_area">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <form action="/GioHang/CapNhatGioHang" method="post">
                                <div class="cart_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product_name">Mã Sản phẩm</th>
                                                <th class="product_thumb">Ảnh minh họa</th>
                                                <th class="product_name">Sản phẩm</th>
                                                <th class="product-price">Giá sản phẩm</th>
                                                <th class="product_quantity">Số lượng</th>
                                                <th class="product_total">Thành tiền</th>
                                                <th class="product_total"></th>
                                                <th class="product_total"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="product_name">
                                                        @Html.Hidden("MaSP", item.MaSP)
                                                        <a href="@Url.Action("XemChiTietSanPham","SanPham",new { @MaSP=item.MaSP })">@item.MaSP</a>
                                                    </td>
                                                    <td class="product_thumb">
                                                        <a href="#"><img src="~/images/@item.URLAnh" style="width:200px;height:150px;"></a>
                                                    </td>
                                                    <td class="product_name">
                                                        <a href="@Url.Action("XemChiTietSanPham","SanPham",new { @MaSP=item.MaSP })">@item.TenSP</a>
                                                    </td>

                                                    <td class="product-price">
                                                        <span>@item.DonGia.ToString("#,##").Replace(',', '.') VNĐ</span>
                                                    </td>

                                                    <td class="product_quantity">
                                                        <label>Số lượng: </label>@item.SoLuong
                                                        @*@Html.TextBox("SoLuong", item.SoLuong, new { @class = "SoLuongThayDoi" })
                                                            <p id="TB_SoLuongThayDoi" style="color:red;"></p>*@
                                                    </td>

                                                    <td class="product_total">
                                                        <span>@item.ThanhTien.ToString("#,##").Replace(',', '.') VNĐ</span>
                                                    </td>
                                                    <td class="product_remove">
                                                        <a href="@Url.Action("SuaGioHang","GioHang",new { @MaSP=item.MaSP})">
                                                            <i class="fa fa-edit" title="Sửa"></i>
                                                        </a>
                                                    </td>
                                                    <td class="product_remove">
                                                        <a href="@Url.Action("XoaItemGH","GioHang",new { @MaSP=item.MaSP })">
                                                            <i class="fa fa-trash-o" title="Xóa"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <form action="/GioHang/DatHang" method="post">
                    @if (Session["TaiKhoan"] == null)
                    {
                        <div class="coupon_area col-9 TTCaNhan">
                            <h3>Thông tin cá nhân</h3>
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 register-top-grid">
                                    <div class="coupon_code left ">
                                        <div>
                                            <span>Họ tên</span>
                                            <input id="TenKH" name="TenKH" type="text" value="">
                                            <p id="tb_TenKH"></p>
                                        </div>
                                        <div>
                                            <span>Địa chỉ</span>
                                            <input id="DiaChi" name="DiaChi" type="text" value="">
                                            <p id="tb_DiaChi"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 register-bottom-grid">
                                    <div class="coupon_code right">
                                        <div>
                                            <span>Email</span>
                                            <input id="Email" name="Email" type="text" value="">
                                            <p id="tb_Email"></p>
                                        </div>
                                        <div>
                                            <span>Số điện thoại</span>
                                            <input id="SoDienThoai" name="SoDienThoai" type="text" value="">
                                            <p id="tb_SoDienThoai"></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="btnDatHang">
                        <input type="submit" value="Đặt hàng" id="btnDatHang" class="btn btn-primary">
                        <a class="btn btn-success" href="/Home">Mua tiếp</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<script>
    $("#btnDatHang").click(function () {
        var MaKH = $(".MaKh").val();
        if (MaKH.length > 5) {
            $("#Ttb_MaKh").text("Mã Khách hàng không hợp lệ!")
            return false;
        }
    });
</script>

<style>
    .product_remove a i {
        font-size: 35px;
    }


    .register-top-grid input[type="text"],
    .register-bottom-grid input[type="text"] {
        width: 100%;
        padding: 1em;
        margin: 1em 0;
        background: none;
        outline: none;
        border-radius: 3px;
        border: 1px solid #A09F9F;
        -webkit-appearance: none;
    }

    .btnDatHang a, .btnDatHang input[type="submit"] {
        margin-top: 20px;
        font-size: 15px;
    }
</style>