@model IEnumerable<ShopCar.Model.NhaCC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản lý nhà cung cấp</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Xem chi tiết
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.TenNCC)*@
            Tên nhà cung cấp
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.DiaChi)*@
            Địa chỉ
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.SDT)*@
            Liên hệ
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink("Xem", "Details", new { id = item.MaNCC }) 
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenNCC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.MaNCC }) |        
        @Html.ActionLink("Xóa", "Delete", new { id = item.MaNCC })
    </td>
</tr>
}

</table>
