@model IEnumerable<ShopCar.Model.PhieuNhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <h2>Quản lý phiếu nhập</h2>

<p>
    @Html.ActionLink("Tạo mới", "NhapHang")
</p>
<table class="table">
    <tr>
        <th>
            Xem chi tiết
        </th>
        <th>
            Mã phiếu nhập
        </th>
        <th>
            @*  @Html.DisplayNameFor(model => model.NgayNhap)*@
            Mã nhà cung cấp
        </th>
        <th>
            @*  @Html.DisplayNameFor(model => model.NhaCC.TenNCC)*@
            Tên nhà cung cấp
        </th>
        <th>
            Ngày nhập
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink("Xem", "Details", new { id = item.MaPN })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaPN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NhaCC.MaNCC)
       
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NhaCC.TenNCC)
       
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayNhap)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.MaPN }) |

        @Html.ActionLink("Xóa", "Delete", new { id = item.MaPN })
    </td>
</tr>
        }

        </table>
