@using ShopCar.Model;

@model IEnumerable<SanPham>

@{
    int iDem = 1;
    int iSLSPTrenTrang = 16;
    int iTrang = 1;
}
<div id="KQTimKiem" style="margin-top:30px">
    <div class="row shop_wrapper" style="margin:30px 0;">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-12 @Url.Content("simpleCart_shelfItem Trang"+iTrang.ToString())">
                <article class="single_product">
                    <figure>
                        <div class="product_thumb">
                            <a class="primary_img" href="@Url.Action("XemChiTietSanPham","SanPham",new { @MaSP=item.MaSP })">
                                <img src="~/images/@item.URLAnh" style="width:100%;height:350px;">
                            </a>
                            @*<div class="label_product">
                                    <span class="label_sale">-56%</span>
                                </div>*@
                            <div class="quick_button">
                                <a href="@Url.Action("XemChiTietSanPham","SanPham",new { @MaSP=item.MaSP })" data-toggle="modal" data-target="#modal_box" title="Xem hàng">
                                    <i class="icon-eye" style="font-size:40px;"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product_content grid_content" style="text-align:left;">
                            <div class="product_content_inner">
                                <p class="manufacture_product"><a href="#">Hàng mới</a></p>
                                <h4 class="product_name"><a href="product-details.html">@item.TenSP</a></h4>
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                    </ul>
                                </div>
                                <div class="price_box">
                                    @*<span class="old_price">$320.00</span>*@
                                    <span class="current_price">@item.DonGia.Value.ToString("#,##")</span>
                                </div>
                            </div>
                            <div class="action_links">
                                <ul>
                                    <li class="add_to_cart">
                                        <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() })" class="item_add">
                                            Thêm vào giỏ hàng
                                        </a>
                                        @*@Ajax.ActionLink("Thêm vào giỏ hàng ajax", "GioHangPartial", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() },
                                            new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace }, null)*@
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_content list_content">
                            <div class="left_caption">
                                <p class="manufacture_product"><a href="#">Hàng mới</a></p>
                                <h4 class="product_name"><a href="product-details.html">@item.TenSP</a></h4>
                                <div class="product_rating">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                    </ul>
                                </div>
                                <div class="price_box">
                                    @*<span class="old_price">$320.00</span>*@
                                    <span class="current_price">@item.DonGia.Value.ToString("#,##")</span>
                                </div>
                                <div class="product_desc" style="width:800px">
                                    <p>@Html.Raw(item.MoTa)</p>
                                </div>
                            </div>
                            <div class="right_caption">
                                @*<p class="text_available">Availability: <span>In Stock</span></p>*@
                                <div class="action_links">
                                    <ul>
                                        <li class="add_to_cart">
                                            <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() })" class="item_add">Thêm vào giỏ hàng!</a>
                                            @*@Ajax.ActionLink("Thêm vào giỏ hàng ajax", "GioHangPartial", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() },
                                                new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace }, null)*@
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </figure>
                </article>
            </div>
            if (iDem % iSLSPTrenTrang == 0)
            {
                iTrang++;
            }
            iDem++;
        }
    </div>

    <div style="text-align:center;">
        @for (int i = 1; i < iTrang; i++)
        {
            <a class="linkTrang" data-SoTrang="@Url.Content("Trang"+i)" href="#" style="line-height:30px;font-size:20px">@i</a>
        }
    </div>
</div>


<style>
    .simpleCart_shelfItem {
        display: none;
    }

    .Trang1 {
        display: block;
    }
</style>
<script>
    $(".linkTrang").click(function () {
        $(".simpleCart_shelfItem").hide();

        var soTrang = $(this).attr("data-SoTrang");
        $("." + soTrang).show();
    })
</script>